/* Box sizing */
* {
    box-sizing: border-box;

    &:before,
    &:after {box-sizing: border-box;}
}


/* Body */
body {
    background-color: $site-background-color;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    color: $color-text;
    line-height: $base-line-height;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

   	@include media-breakpoint-up(sm) {
        font-size: 17px;
    }
}

.no-scroll { overflow: hidden; }


.image-cover {
    img { 
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            width: auto;
            max-width: inherit;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)!important;
        }
    }
}

.image-contain {
    img { 
        object-fit: contain;
        height: 100%;
        width: 100%;
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            width: auto;
            max-width: inherit;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)!important;
        }
    }
}