h1,
h2,
h3,
h4,
h5 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    line-height: $header-line-height;
    margin-bottom: 50px;
    margin-top: 0;
    word-wrap: break-word;
}

h1 {
    font-size: 56px;
    line-height: 68px;

    @include media-breakpoint-down(md) {
        font-size: 40px;
        line-height: 52px;
    }
}

h2 {
    font-size: 36px;
    line-height: 36px;

    @include media-breakpoint-down(md) {
        font-size: 32px;
        line-height: 42px;
    }
}

h3 {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 20px;
    
    @include media-breakpoint-down(md) {
        font-size: 20px;
        line-height: 20px;
    }
}

h4,
h5,
h6 {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

a {
    color: $color-text;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

p {
    margin-top: 0;
    margin-bottom: 25px;
    overflow-wrap: break-word;
}