.item-employee {
	padding: 15px;
	width: calc(100% / 2);

	@include media-breakpoint-up(sm) {
		width: calc(100% / 3);
	}

	&__image {
		margin: 0 0 10px 0;
		position: relative;
		width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__name {
		margin-bottom: 10px;
		color: #000;
		line-height: 1;
		font-family: $base-font-family;
		font-weight: 500;
	}

	&__position {
		line-height: 1;
	}
}