.list-default {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex: 1;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -15px;
}

.item-default {
	padding: 15px;
	border-radius: 25px;
	position: relative;
	z-index: 0;
	text-decoration: none;
	color: $color-text;
	margin-bottom: 15px;
	width: 100%;

	@include media-breakpoint-up(sm) {
		width: 50%;
	}

	@include media-breakpoint-up(lg) {
		width: calc(100% / 3);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $color-gray-light;
		border-radius: 25px;
		z-index: -1;
		box-shadow: 0px 0px 80px #00000029;
		opacity: 0;
		transform: scale(.95);
		transition: transform .5s, opacity .5s;
		will-change: transform;
	}

	&:hover,
	&:focus {
		&:before {
			opacity: 1;
			transform: scale(1);
		}

		.item-default {
			&__image {
				img {
					transform: scale(1.05);
				}
			}
		}
	}

	&__image {
		position: relative;
		overflow: hidden;
		height: 0;
		padding-top: calc((100% / 16) * 9);
		border-radius: 25px;
		box-shadow: 0px 0px 80px #00000029;

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: transform .5s;
			will-change: transform;
		}
	}

	&__content {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 15px;
		padding-top: 30px;
		color: $color-text;
		transition: color .5s;
		will-change: transform;

		&-header {
			margin-top: 0;
			transition: color .5s;
			will-change: transform;
		}

		&-text {
			margin-bottom: 0;
		}
	}
}