/* Colors
********************/
$color-gray-dark: 				#292929;
$color-gray:                    #D8D8D8;
$color-gray-light:              #F1F1F1;
$color-white:                   #ffffff;
$color-black: 					#000000;
$color-green-neon:				#29f29f;
$color-brown-dark:				#BC947B;
$color-brown-light:				#D0B4A3;
$color-gray-dark:				#707070;

$color-primary:					$color-green-neon;
$color-secondary: 				$color-gray-dark;

$color-link:                    $color-green-neon;
$color-text: 					#2B2E31;


/* Typography
********************/
$base-font-family: 				Poppins, sans-serif;
$base-font-size:				16px;
$base-font-weight: 				400;
$base-line-height: 				1.5;

$header-font-family: 			$base-font-family;
$header-font-weight:			700;
$header-line-height:			1.1;


/* Layout
********************/
$site-background-color: 		$color-white;
$site-max-width:		 		1600px;
$container-width:				650px;