.site-header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 999;
	background: transparent;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	max-width: none;
	left: 50%;
	transform: translateX(-50%);

	&__wrapper {
		background-color: transparent;
		position: relative;
		z-index: 1;
	}

	&__action-wrapper {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    height: 100%;
	    position: relative;
	}

	&__inner {
		height: 110px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media-breakpoint-down(md) {
			height: 80px;
		}
	}

	.logo {
		height: 37px;

		@include media-breakpoint-down(sm) {
			height: 27px;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}

		svg {
			display: block;
		}
	}
}