.site-header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 999;
	background: transparent;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	max-width: none;
	left: 50%;
	transform: translateX(-50%);

	&__wrapper {
		background-color: transparent;
		position: relative;
		z-index: 1;
	}

	&__action-wrapper {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
	    height: 100%;
	    position: relative;
	}

	&__inner {
		height: 110px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		@include media-breakpoint-down(md) {
			height: 80px;
		}

		/* Logo dark background */
		&:before {
			content: '';
		    position: absolute;
		    border-radius: 50%;
		    background-color: #000;
		    width: 850px;
		    height: 660px;
		    background: radial-gradient(circle,#000 0%,#000 0%,transparent 20%,transparent 60%);
		    filter: blur(110px);
		    left: -400px;
		    top: -330px;
		    z-index: -1;

			@include media-breakpoint-down(sm) {
			    width: 580px;
			    height: 510px;
			    background: radial-gradient(circle,#000 0%,#000 0%,transparent 30%,transparent 59%);
			    filter: blur(110px);
			    top: 20px;
			    left: -20px;
			    z-index: -1;
			    transform: translate(-50%,-50%);
			}
		}
	}

	.logo {
		height: 37px;

		@include media-breakpoint-down(sm) {
			height: 27px;
		}

		img {
			max-width: 100%;
			max-height: 100%;
		}

		svg {
			display: block;
		}
	}
}